fastapi[standard]
uvicorn
sqlalchemy
psycopg2-binary
python-dotenv
python-multipart
python-jose[cryptography]
passlib[bcrypt]
tensorflow
opencv-python-headless==4.8.1.78
reportlab
langchain-groq
langchain-core
pandas
numpy
