fastapi[standard]
uvicorn 
sqlalchemy 
psycopg2-binary 
python-dotenv 
python-multipart 
python-jose[cryptography] 
passlib[bcrypt] 
tensorflow 
opencv-python 
reportlab 
langchain-groq 
langchain-core 
pandas 
numpy